{{outlet}}
<div class="clearfix space20"></div>
<div class="account-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <!-- HTML -->
        <div id="account-id">
          <h4 class="account-title"><span class="fa fa-chevron-right"></span>Crear Color</h4>
          <div class="account-form">
            <form {{action 'addShirtColor' on="submit"}}>
                <ul class="form-list row">
                  <li class="col-md-6 col-sm-6">
                    <label>Nombre <em>*</em></label>
                    {{input value=name placeholder="Nombre del color" required="required" type="text" class="input-text"}}
                  </li>
                  <li class="col-md-6 col-sm-6">
                    <label>Color <em>*</em></label>
                    <div id="cp1" class="input-group colorpicker-component">
                      {{input value=hexadecimalvalue placeholder="Color" required="required" type="text" class="form-control"}}
                      <span class="input-group-addon"><i></i></span>
                    </div>
                  </li>
                </ul>
                <div class="buttons-set">
                  <button {{action 'addShirtColor'}} class="btn-black" type="submit"><span><span>Crear</span></span></button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript" defer>
  $(document).ready(function(){

  });
</script> -->
