{{outlet}}
<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li>{{#link-to "index"}}Inicio{{/link-to}}</li>
        </ul>
    </div>
</div>

<!-- PAGE HEADER -->
<div class="page_header">
  <div class="container">
    <div class="page_header_info text-center">
      <div class="page_header_info_inner">
        <h2>Estampa.la</h2>
        <p>Selecciona una estampa, diseña tu camiseta y recíbela en tu casa!</p>
      </div>
    </div>
  </div>
</div>
<!-- SHOP CONTENT -->
<div class="shop-content">
  <div class="container">
    <div class="row">
      <aside class="col-md-3 col-sm-4">
        <div class="side-widget">
          {{filteredPrints}}
          <h3><span>Filtrar Por:</span></h3>
          <h5>Autor</h5>
          <select onchange={{action 'changeOwner' value="target.value"}} class="select_author">
            <option></option>
            {{#each model.artists.content as |artist|}}
            <option value="{{artist.username}}">{{artist.username}}</option>
            {{/each}}
          </select>
          <div class="clearfix space20"></div>
          <h5>Temas</h5>
          <select class="select_author" onchange={{action 'changeTheme' value="target.value"}}>
            <option></option>
            {{#each model.themes as |theme|}}
            <option value="{{theme.name}}">{{theme.name}}</option>
            {{/each}}
          </select>
          <div class="clearfix space20"></div>
          <h5>Calificación</h5>
          <select class="select_rating" onchange={{action 'changeRating' value="target.value"}}>
            <option></option>
            <option value="5">5 - Alta</option>
            <option value="4">4 - Buena</option>
            <option value="3">3 - Normal</option>
            <option value="2">2 - Regular</option>
            <option value="1">1 - Mala</option>
          </select>
          <div class="clearfix space20"></div>
        </div>
      </aside>
      <div class="col-md-9 col-sm-8">
        <div class="filter-wrap">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="buttons-set">
                {{#link-to "product.add" class="btn-black" type="submit"}}<span>Crear Producto</span>{{/link-to}}
              </div>
            </div>
            <!-- <div class="col-md-4 col-sm-4">
              Ordenar por:
              <select>
                <option>-</option>
                <option>Popularidad</option>
              </select>
            </div> -->
            <!-- <div class="col-md-8 col-sm-8">
              <span class="pull-right">
                Mostrar:
                <select>
                  <option>9 items</option>
                  <option>18 items</option>
                  <option>27 items</option>
                  <option>50 items</option>
                </select>
              </span>
            </div> -->
          </div>
        </div>
        <!-- <div class="pagenav-wrap">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              Resultados: <span>1 - 9 of 86 items</span>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="pull-right">
                <em>Página:</em>
                <ul class="page_nav">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        <div class="space50"></div>
        <div class="row">
          {{#each result as |estampa|}}
          <div class="col-md-4 col-sm-6">
            <div class="product-item" id="print-{{estampa.id}}" {{action "selectPrint" estampa}}>
              <div class="item-thumb">
                <img src="data:image/png;base64, {{estampa.image}}" class="img-responsive" alt=""/>
                <div class="overlay-rmore fa fa-check quickview"></div>
                <div class="product-overlay">
                  <!-- <a href="#" class="addcart fa fa-shopping-cart"></a> -->
                  <!-- <a href="#" class="likeitem fa fa-heart-o"></a> -->
                </div>
              </div>
              <div class="product-info">
                <span class="product-price"><em>Precio: </em>${{estampa.price}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <!-- <div class="pagenav-wrap">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              Resultados: <span>1 - 9 of 86 items</span>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="pull-right">
                <em>Página:</em>
                <ul class="page_nav">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" defer>
  $(document).ready(function(){
    $.getScript("/js/select2.min.js", function(){
      $('.select_author').select2();
    });
  });
</script>
