{{outlet}}
<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li>{{#link-to "index"}}Inicio{{/link-to}}</li>
        </ul>
    </div>
</div>

<!-- PAGE HEADER -->
<div class="page_header">
  <div class="container">
    <div class="page_header_info text-center">
      <div class="page_header_info_inner">
        <h2>Estampa.la</h2>
        <p>Selecciona una estampa, diseña tu camiseta y recíbela en tu casa!</p>
      </div>
    </div>
  </div>
</div>
<!-- SHOP CONTENT -->
<div class="shop-content">
  <div class="container">
    <div class="row">
      <aside class="col-md-3 col-sm-4">
        <div class="side-widget">
          <h3><span>Filtrar Por:</span></h3>
          <h5>Autor</h5>
          <select class="select_author">
            <option></option>
            {{#each model.artists.content as |artist|}}            
            <option value="{{artist.id}}">{{artist.username}}</option>
            {{/each}}
          </select>
          <div class="clearfix space20"></div>
          <h5>Temas</h5>
          <select class="select_author">
            <option></option>
            {{#each model.themes as |theme|}}
            <option value="{{theme.id}}">{{theme.name}}</option>
            {{/each}}
          </select>
          <div class="clearfix space20"></div>
          <h5>Calificación</h5>
          <ul class="brand-list">
            <li>
              <div class="radio">
                <label><input type="radio" name="optradio">5 - Excelente</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <label><input type="radio" name="optradio">4 - Buena</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <label><input type="radio" name="optradio">3 - Normal</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <label><input type="radio" name="optradio">2 - Regular</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <label><input type="radio" name="optradio">1 - Mala</label>
              </div>
            </li>
          </ul>
          <div class="clearfix space20"></div>
        </div>
      </aside>
      <div class="col-md-9 col-sm-8">
        <div class="filter-wrap">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              Ordenar por:
              <select>
                <option>-</option>
                <option>Popularidad</option>
              </select>
            </div>
            <div class="col-md-8 col-sm-8">
              <span class="pull-right">
                Mostrar:
                <select>
                  <option>9 items</option>
                  <option>18 items</option>
                  <option>27 items</option>
                  <option>50 items</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <div class="pagenav-wrap">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              Resultados: <span>1 - 9 of 86 items</span>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="pull-right">
                <em>Página:</em>
                <ul class="page_nav">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="space50"></div>
        <div class="row">
          {{#each model.prints as |estampa|}}
          <div class="col-md-4 col-sm-6">
            <div class="product-item">
              <div class="item-thumb">
                <img src="data:image/png;base64, {{estampa.image}}" class="img-responsive" alt=""/>
                <div class="overlay-rmore fa fa-check quickview" data-toggle="modal" data-target="#myModal"></div>
                <div class="product-overlay">
                  <a href="#" class="addcart fa fa-shopping-cart"></a>
                  <a href="#" class="likeitem fa fa-heart-o"></a>
                </div>
              </div>
              <div class="product-info">
                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                <span class="product-price">$99.00 <em>- Pre order</em></span>
                <div class="item-colors">
                  <a href="#" class="litebrown"></a>
                  <a href="#" class="white"></a>
                  <a href="#" class="red"></a>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="pagenav-wrap">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              Resultados: <span>1 - 9 of 86 items</span>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="pull-right">
                <em>Página:</em>
                <ul class="page_nav">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
