{{outlet}}
<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li>{{#link-to "index"}}Inicio{{/link-to}}</li>
        </ul>
    </div>
</div>

<!-- PAGE HEADER -->
<div class="page_header">
  <div class="container">
    <div class="page_header_info text-center">
      <div class="page_header_info_inner">
        <h2>Estampa.la</h2>
        <p>Selecciona una estampa, diseña tu camiseta y recíbela en tu casa!</p>
      </div>
    </div>
  </div>
</div>
<!-- SHOP CONTENT -->
<div class="shop-content">
  <div class="container">
    <div class="row">
      <aside class="col-md-3 col-sm-4">
        <div class="side-widget">
          {{filteredPrints}}
          <h3><span>Filtrar Por:</span></h3>
          <h5>Autor</h5>
          <select onchange={{action 'changeOwner' value="target.value"}} class="select_author">
            <option></option>
            {{#each model.artists.content as |artist|}}
            <option value="{{artist.username}}">{{artist.username}}</option>
            {{/each}}
          </select>
          <div class="clearfix space20"></div>
          <h5>Temas</h5>
          <select class="select_author" onchange={{action 'changeTheme' value="target.value"}}>
            <option></option>
            {{#each model.themes.content as |theme|}}
            <option value="{{theme.name}}">{{theme.name}}</option>
            {{/each}}
          </select>
          {{#if (feature "rating")}}
            <div class="clearfix space20"></div>
            <h5>Calificación</h5>
            <select class="select_rating" onchange={{action 'changeRating' value="target.value"}}>
              <option></option>
              <option value="5">5 - Alta</option>
              <option value="4">4 - Buena</option>
              <option value="3">3 - Normal</option>
              <option value="2">2 - Regular</option>
              <option value="1">1 - Mala</option>
            </select>
          {{/if}}
          <div class="clearfix space20"></div>
        </div>
      </aside>
      <div class="col-md-9 col-sm-8">
        <div class="filter-wrap">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="buttons-set">
                {{#link-to "product.add" class="btn-black" type="submit"}}<span>Crear Producto</span>{{/link-to}}
              </div>
            </div>
          </div>
        </div>
        <div class="space50"></div>
        <div class="row">
          {{#each result as |estampa|}}
          <div class="col-md-4 col-sm-6">
            <div class="product-item" id="print-{{estampa.id}}" >
              <div class="item-thumb">
                <img src="{{estampa.image}}" class="img-responsive" alt=""/>
                <div class="overlay-rmore fa fa-check quickview" {{action "selectPrint" estampa}}></div>
                <div class="product-overlay">
                  {{#if (feature "compartir_estampa")}}
                    <a href="#" class="addcart fa fa-share" {{action 'sharePrint' estampa}}></a>
                  {{/if}}
                  {{#if (feature "info_detallada")}}
                    <a href="#" class="addcart fa fa-search shareBtn" {{action 'showDetail' estampa}}></a>
                  {{/if}}
                  {{#if (feature "calificar")}}
                    <a href="#" class="likeitem fa fa-star" {{action 'ratePrint' estampa}}></a>
                  {{/if}}
                </div>
              </div>
              <div class="product-info">
                <span class="product-price"><em>Precio: </em>${{estampa.price}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <!-- <div class="pagenav-wrap">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              Resultados: <span>1 - 9 of 86 items</span>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="pull-right">
                <em>Página:</em>
                <ul class="page_nav">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" defer>
  $(document).ready(function(){
    $.getScript("/js/select2.min.js", function(){
      $('.select_author').select2();
    });
  });
</script>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detalle de estampa</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <h4>Nombre:</h4>
            </div>
            <div class="col-md-8">
              <h5 id="print-detail-name">
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Descripcion:</h4>
            </div>
            <div class="col-md-8">
              <h5 id="print-detail-description">
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Precio:</h4>
            </div>
            <div class="col-md-8">
              <h5 id="print-detail-price">
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Calificación:</h4>
            </div>
            <div class="col-md-8">
              <h5 id="print-detail-rating">
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Calificaciones</h4>
            </div>
            <div class="col-md-8">
              <h5 id="print-detail-ratingCounts">
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Tema:</h4>
            </div>
            <div class="col-md-8">
              <h5 id="print-detail-theme">
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Artista:</h4>
            </div>
            <div class="col-md-8">
              <h5 id="print-detail-artist">
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Calificar Estampa</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <h4>Calificación Actual:</h4>
            </div>
            <div class="col-md-8">
              <div id="currentRate"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Calificar:</h4>
            </div>
            <div class="col-md-8">
              <div id="rateStars" {{action 'saveRate'}}></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" defer>
  $.getScript("https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js", function(){
    $("#rateStars").rateYo({
      starWidth: "40px"
    });
  });
</script>

<script>
  $('.shareBtn').on('click', function() {
    FB.ui({
      method: 'share',
      display: 'popup',
      href: 'https://developers.facebook.com/docs/',
    }, function(response){});
  });
</script>
