{{outlet}}
<div class="bcrumbs">
  <div class="container">
    <ul>
      <li>{{#link-to "index"}}Inicio{{/link-to}}</li>
      <li>Confirmar Compra</li>
    </ul>
  </div>
</div>
<div class="clearfix space20"></div>

<div class="account-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div id="account-id2">
          <h4 class="account-title"><span class="fa fa-chevron-right"></span>Confirmación de compra</h4>
          <div class="account-form create-new-account">
            <h3 class="block-title">Confirmación de compra.</h3>
            <ul>
              <li>
                <i class="fa fa-edit"></i> Productos: {{model.cart.cartProducts.length}}
              </li>
              <li><i class="fa fa-edit"></i> Subtotal: ${{model.cart.subtotal}}</li>
              <li><i class="fa fa-edit"></i> Valor envío: ${{model.cart.shippingValue}}</li>
              <li><i class="fa fa-edit"></i> Total: ${{model.cart.total}}</li>
            </ul>
            <h2 class="block-title">Método de pago.</h2>
            <div class="radio">
              <label><input type="radio" name="payment" value="pse" checked>PSE</label>
            </div>
            {{#if (feature "tarjeta_credito")}}
              <div class="radio">
                <label><input type="radio" name="payment" value="credito">Tarjeta de Crédito</label>
              </div>
            {{/if}}
            {{#if (feature "tarjeta_regalo")}}
              <div class="radio">
                <label><input type="radio" name="payment" value="regalo">Tarjeta de Regalo</label>
              </div>
            {{/if}}
            <div class="buttons-set">
               <button {{action "modalPayment"}} class="btn-black">Confirmar Compra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalpse" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static">&times;</button>
        <h4 class="modal-title header-modal">Pago con PSE</h4>
        <img src="/images/logo-pse.png" style="width: 100px;" class="header-modal">
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usr">Primer Nombre:</label>
          <input type="text" class="form-control" id="pse_firstname">
        </div>
        <div class="form-group">
          <label for="usr">Apellido:</label>
          <input type="text" class="form-control" id="pse_lastname">
        </div>
        <div class="form-group">
          <label for="usr">Teléfono:</label>
          <input type="text" class="form-control" id="pse_phone">
        </div>
        <div class="form-group">
          <label for="usr">Email:</label>
          <input type="text" class="form-control" id="pse_email">
        </div>
        <div class="form-group">
          <label for="usr">Banco:</label>
          <select id="bank" class="form-control">
            <option value=""></option>
            <option value="Bancolombia">Bancolombia</option>
            <option value="Colpatria">Colpatria</option>
          </select>
        </div>
        <div class="form-group">
          <label for="usr">Tipo Identificación:</label>
          <select id="identification_type" class="form-control">
            <option value=""></option>
            <option value="cedula">Cédula</option>
            <option value="Pasaporte">Pasaporte</option>
          </select>
        </div>
        <div class="form-group">
          <label for="usr">Identificación:</label>
          <input type="text" class="form-control" id="pse_identifition">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" {{action "addPayment"}}>Pagar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalcredito" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static">&times;</button>
        <h4 class="modal-title header-modal">Pago con Tarjeta</h4>
        <img src="/images/visa.png" style="width: 100px;" class="header-modal">
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usr">Primer Nombre:</label>
          <input type="text" class="form-control" id="credit_firstname">
        </div>
        <div class="form-group">
          <label for="usr">Apellido:</label>
          <input type="text" class="form-control" id="credit_lastname">
        </div>
        <div class="form-group">
          <label for="usr">Email:</label>
          <input type="text" class="form-control" id="credit_email">
        </div>
        <div class="form-group">
          <label for="usr">Banco:</label>
          <select class="form-control" id="credit_bank">
            <option value=""></option>
            <option value="Bancolombia">Bancolombia</option>
            <option value="Colpatria">Colpatria</option>
          </select>
        </div>
        <div class="form-group">
          <label for="usr">Tipo Identificación:</label>
          <select class="form-control" id="credit_identification_type">
            <option value=""></option>
            <option value="cedula">Cédula</option>
            <option value="Pasaporte">Pasaporte</option>
          </select>
        </div>
        <div class="form-group">
          <label for="usr">Identificación:</label>
          <input type="text" class="form-control" id="credit_identification">
        </div>
        <div class="form-group">
          <label for="credit_card_type">Tipo:</label>
          <select class="form-control">
            <option value=""></option>
            <option value="Visa">Visa</option>
            <option value="MasterCard">MasterCard</option>
            <option value="AmericanExpress">AmericanExpress</option>
          </select>
        </div>
        <div class="form-group">
          <label for="usr">Número de Tarjeta:</label>
          <input type="text" class="form-control" id="credit_number">
        </div>
        <div class="form-group">
          <label for="usr">CVC:</label>
          <input type="text" class="form-control" id="credit_cvc">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" {{action "addPayment"}}>Pagar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalregalo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static">&times;</button>
        <h4 class="modal-title header-modal">Pago con Tarjeta de Regalo</h4>
        <img src="/images/regalo.jpg" style="width: 80px;" class="header-modal">
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usr">Tarjetas:</label>
          <select class="form-control" id="gift_card" onchange={{action 'validateGiftcard' model.cart.total}}>
            <option value=""></option>
            {{#each model.giftcards as |giftcard|}}
            <option value="{{giftcard.id}}">{{giftcard.balance}}</option>
            {{/each}}
          </select>
          <span class="text-danger" id="msg" hidden="true">La tarjeta seleccionada no tiene el saldo necesario para cubrir el monto de la compra.</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnPay" class="btn btn-default" {{action "addPayment"}} disabled="true">Pagar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalpayment" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title header-modal">Enviando Pago...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" id="barra-pago" role="progressbar"
          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            0%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
