{{outlet}}
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li>{{#link-to "index"}}Inicio{{/link-to}}</li>
            <li>Login</li>
        </ul>
    </div>
</div>

<div class="clearfix space20"></div>

<div class="account-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <!-- HTML -->
        <div id="account-id">
          <h4 class="account-title"><span class="fa fa-chevron-right"></span>Login</h4>
          <div class="account-form">
            <form class="form-login" {{action 'authenticate' on='submit'}}>
              <ul class="form-list row">
                <!-- <li class="col-md-6 col-sm-12">
                  <a href="#" class="btn facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
                </li>
                <li class="col-md-6 col-sm-12">
                  <a href="#" class="btn twitter"><i class="fa fa-twitter"></i>Sign in with Twitter</a>
                </li> -->
                <li class="col-md-12 col-sm-12">
                  <label>Usuario <em>*</em></label>
                  {{input id='identification' placeholder='Ingresa Tu usuario' value=identification}}
                </li>
                <li class="col-md-12 col-sm-12">
                  <label>Password <em>*</em></label>
                  {{input id='password' placeholder='Ingresa Tu Password' type='password' value=password}}
                </li>
                <li class="col-md-12 col-sm-12 pwd text-right">
                  <label><a href="#"> Olvidaste tu password? </a> </label>
                </li>
              </ul>
              <div class="buttons-set">
                <button class="btn-black" type="submit"><span>login</span></button>
                {{#if (feature "auth_facebook")}}
                  <button class="btn btn-primary" type="submit" {{action 'facebookLogin'}}><span>Facebook Login</span></button>
                {{/if}}
                {{#if (feature "auth_twitter")}}
                  <button class="btn btn-info" type="submit" {{action 'twitterLogin'}}><span>Twitter Login</span></button>
                {{/if}}
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div id="account-id2">
          <h4 class="account-title"><span class="fa fa-chevron-right"></span>Crear Nueva Cuenta</h4>
          <div class="account-form create-new-account">
            <h3 class="block-title">Inscríbete hoy para:</h3>
            <ul>
              <li><i class="fa fa-edit"></i> Ser Artista y Vender Tus Obras</li>
              <li><i class="fa fa-edit"></i> Poder Realizar Compras</li>
              <li><i class="fa fa-edit"></i> Destacarte Un Artista Profesional</li>
              <li><i class="fa fa-edit"></i> Compartir Tus Creaciones Con Tus Amigos</li>
            </ul>
            <div class="buttons-set">
               {{#link-to 'users.add' tagName='button' class="btn-black"}}Crear Cuenta{{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
