{{outlet}}
<div class="clearfix space20"></div>
<div class="account-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="account-id">
          <h4 class="account-title"><span class="fa fa-chevron-right"></span>Actualizar Estampa</h4>
          <div class="account-form">
            <form {{action 'editPrint' model.print.id on="submit"}}>
              <ul class="form-list row">
                <li class="col-md-12 col-sm-12" style="text-align: center; margin: 0 auto;">
                  <img src="data:image/png;base64, {{model.print.image}}" alt="{{model.print.name}}"/>
                </li>
                <li class="col-md-6 col-sm-6">
                  <label>Nombre <em>*</em></label>
                  {{input value=model.print.name placeholder="Nombre de la estampa" required="required" type="text" class="input-text"}}
                </li>
                <li class="col-md-6 col-sm-6">
                  <label>Precio <em>*</em></label>
                  {{input value=model.print.price placeholder="Precio de la estampa" required="required" type="text" class="input-text"}}
                </li>
                <li class="col-md-6 col-sm-6">
                  <label>Tema <em>*</em></label>
                  <select value=theme class="form-control select_theme" name=theme id="theme" onchange={{action 'selectTheme' value="target.value"}}>
                    <option></option>
                    {{#each model.themes as |theme|}}
                      <option value={{theme.id}}>{{theme.name}}</option>
                    {{/each}}
                  </select>
                </li>
                <li class="col-md-12 col-sm-12">
                  <label>Descripción <em>*</em></label>
                  {{textarea value=model.print.description class="form-control" rows="5"}}
                </li>
              </ul>
              <div class="buttons-set">
                <button {{action 'editPrint' model.print.id}} class="btn-black" type="submit"><span><span>Cargar</span></span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" defer>
  $.getScript("/js/select2.min.js", function(){
    $('.select_theme').select2();
  });
</script>
