{{outlet}}
<div class="container">
  <div class="col-md-12">
    <div class="pagenav-wrap">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="pull-right">
            {{#link-to "prints.add" class="btn btn-success"}}Agregar Estampa{{/link-to}}
          </div>
        </div>
      </div>
    </div>
    <div class="space50"></div>
    <div class="row">
    {{#each model.prints as |estampa|}}
      <div class="col-md-4 col-sm-6">
        <div class="product-item">
          <div class="item-thumb">
            <img src="{{estampa.image}}" alt="{{estampa.name}}" />
            {{#link-to "prints.edit" estampa.id}}
            <div class="overlay-rmore fa fa-pencil quickview"></div>
            {{/link-to}}
            <div class="product-overlay">
              {{#if (feature "info_detallada")}}
                <a href="#" class="addcart fa fa-refresh" {{action 'selectTheme' estampa.id}}></a>
              {{/if}}
            </div>
            <!-- <div class="product-overlay">
              <a href="#" class="addcart fa fa-close"></a>
            </div> -->
          </div>
          <div class="product-info">
            <h4 class="product-title"><a href="#x">{{estampa.name}}</a></h4>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</div>

<div class="modal fade" id="themesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Selecciona el nuevo tema</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <h4>Temas:</h4>
            </div>
            <div class="col-md-8">
              <select value=theme class="form-control select_theme" name=theme id="theme">                
                {{#each model.themes as |theme|}}
                  <option value={{theme.id}}>{{theme.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" {{action 'changeTheme'}}>Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
